.containerEventList {
    display: flex;
    justify-content: center;
    min-height: calc(94vh - 120px);
    max-height: calc(94vh - 120px);
    overflow-y: scroll;
    align-content: center;
    padding: 8px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .info{
    display: flex;
   justify-content: center;
    align-items: center;
    min-height: calc(94vh - 120px ) ;
    width: 100%;
}
.mainPaper {
    max-height: calc(94vh - 56px);
    min-height: calc(94vh - 56px);
  }
  .headerSection {
    flex-direction: row !important;
    justify-content: space-between;
  }
  .headerItemLeft {
    display: flex;
    flex-direction: row;
    margin-left: 16px;
  }
  .headerItemRight {
    display: flex;
    margin-right: 16px;
  }
  .headerTitle {
    padding: 16px;
  }

  .eventTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media (max-width: 600px) {
    .eventTitle {
      max-width: 150px;
    }
  }
  
  @media (min-width: 601px) and (max-width: 900px) {
    .eventTitle {
      max-width: 300px;
    }
  }
  
  @media (min-width: 901px) {
    .eventTitle {
      max-width: 500px;
    }
  }
