.paperFaute {
  height: 12vh;
  margin-top: 1vh;
  width: 12vh;
}
.teamNameInput{
  margin:0 1vh 1vh 1vh !important ;
}

.fauteButtonMargin0 {
  margin: 1vh 0 0 0 !important;
}
.fauteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vh;
}

.fauteButton {
  height: 5.5vh;
  width: 5.5vh;
  margin: 1vh 1vh 0 0;
}
.macroButton {
  height: 7vh;
  width: 7vh;
  margin: 1vh 1vh 0 0;
}
.macroButtonMargin0 {
  margin: 1vh 0 0 0 !important;
}
.boutonMacro {
  display: flex;
}


.macroContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2vh;
}



.timerContainer {
  margin: 0 10vh 0 10vh;
}

.middleContainer {
  display: flex;
  justify-content: space-between;
}

.paper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.teamScore {
  height: 15vh;
  width: 15vh;
}

.ControlsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.firstScoreButton {
  margin: 0.5vh 0.5vh 0 0;
}

.secondScoreButton {
  margin: 0.5vh 0 0 0;
}

.scoreSeparator {
  margin: 0 8vh 0 8vh;
  display: flex;
  align-items: center;
}

.timerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paperTimer {
  height: 6vh;
  margin-top: 0.5vh;
  width: 12vh;
}

.BuzzerButton {
  width: 6vh;
  height: 4vh;
}

.PaperBuzzer {
  margin-top: 1vh;
}
.timerIcon {
  height: 7vh;
  width: 7vh;
  width: 100%;
  height: 100%;
}
.timerButton {
  height: 3.5vh;
  width: 3.5vh;
  margin: 0.5vh 0.5vh 0 0;
}
.icôneButton {
  height: 3.4vh;
  width: 3.4vh;
}
.margin-right-0 {
  margin: 0.5vh 0 0 0 !important;
}

/* Styles responsifs pour téléphone */
@media (max-width: 600px) {
  .paperFaute {
    height: 14vw;
    margin-top: 0.5vw;
    width: 14vw;
  }
  
  .fauteButtonMargin0 {
    margin: 0.5vw 0 0 0 !important;
  }

  .scoreSeparator {
    margin: 0 8vw 0 8vw;
    display: flex;
    align-items: center;
  }
  .fauteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vw;
  }
  
  .fauteButton {
    height: 6vw;
    width: 6vw;
    margin: 1vw 1vw 0 0;
  }
  .margin-right-0 {
    margin: 1vw 0 0 0 !important;
  }
  .macroButton {
    height: 8vw;
    width: 8vw;
    margin: 0.5vw 0.5vw 0 0;
  }
  .macroButtonMargin0 {
    margin: 0.5vw 0 0 0 !important;
  }

  .timerButton {
    height: 7vw;
    width: 7vw;
    margin: 1vw 1vw 0 0;
  }

  .teamContainer {
    width: 100%;
  }

  .teamScore {
    height: 30vw;
    width: 30vw;
  }
  .icôneButton {
    height: 6.5vw;
    width: 6.5vw;
  }

  .firstScoreButton {
    margin: 1vw 1vw 0 0;
  }

  .secondScoreButton {
    margin: 1vw 0 0 0;
  }

  .timerContainer {
    margin-top: 0vw;
    margin: 0 10vw 0 10vw;
  }

  .paperTimer {
    height: 15vw;
    margin-top: 5vw;
    width: 24vw;
  }

  .BuzzerButton {
    width: 20vw;
    height: 12vw;
  }

  .PaperBuzzer {
    margin-top: 5vw;
  }
}

/* Styles responsifs pour tablette */
