.headerTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media (max-width: 600px) {
    .headerTitle {
      max-width: 150px;
    }
  }
  
  @media (min-width: 601px) and (max-width: 900px) {
    .headerTitle {
      max-width: 300px;
    }
  }
  
  @media (min-width: 901px) {
    .headerTitle {
      max-width: 500px;
    }
  }

  .main-header-button{
    margin-left: 0.5vh !important;
  }

  /* ===== Modal ===== */
.modalBox {
  height: 100%;
  width: 100%;

  padding: 16px;
}

.modalHeader {
  display: flex;
  align-items: center;
}

.modalHeaderText {
  padding: 2px;
}

.tableContainer{
  display: flex;
  justify-content: center;
  min-height: calc(94vh - 200px);
  max-height: calc(94vh - 200px);
  overflow-y: scroll;
  align-content: center;
  padding: 8px;
  position: relative;
}
.scrollIndicator {
  position: absolute;
  bottom: 10px; /* Ajustez la position verticale selon vos préférences */
  left: 50%; /* Ajustez la position horizontale selon vos préférences */
  transform: translateX(-50%);
}


.imageContainer {
  width: 50% !important;
  height: 50% !important;
}
.diapoBox {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.diapoImage{
  width: 100% !important;
  height: 85% !important;
  object-fit: contain;
}