.paperFaute {
  height: 6vw;
  margin-top: 0.5vw;
  width: 6vw;
}

.fauteButtonMargin0 {
  margin: 0.5vw 0 0 0 !important;
}
.fauteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vw;
}

.fauteButton {
  height: 2.75vw;
  width: 2.75vw;
  margin: 0.5vw 0.5vw 0 0;
}
.macroButton {
  height: 3.75vw;
  width: 3.75vw;
  margin: 0.5vw 0.5vw 0 0;
}
.macroButtonMargin0 {
  margin: 0.5vw 0 0 0 !important;
}
.boutonMacro {
  display: flex;
}


.macroContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2vw;
}



.timerContainer {
  margin: 0 10vw 0 10vw;
}

.middleContainer {
  display: flex;
  justify-content: space-between;
}

.paper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.teamScore {
  height: 10vw;
  width: 10vw;
}

.ControlsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.scoreIcôneButton {
  height: 2.5vw;
  width: 2.5vw;
  font-size: 1.25rem;
}

.firstScoreButton {
  margin: 0.5vw 0.5vw 0 0;
}

.secondScoreButton {
  margin: 0.5vw 0 0 0;
}

.scoreSeparator {
  margin: 0 8vw 0 8vw;
  display: flex;
  align-items: center;
}

.timerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paperTimer {
  height: 6vw;
  margin-top: 0.5vw;
  width: 12vw;
}

.BuzzerButton {
  width: 6vw;
  height: 4vw;
}

.PaperBuzzer {
  margin-top: 1vw;
}
.timerIcon {
  height: 7vw;
  width: 7vw;
  width: 100%;
  height: 100%;
}
.timerButton {
  height: 3.5vw;
  width: 3.5vw;
  margin: 0.5vw 0.5vw 0 0;
}
.margin-right-0 {
  margin: 0.5vw 0 0 0 !important;
}

/* Styles responsifs pour téléphone */
@media (max-width: 600px) {
  .paperFaute {
    height: 14vw;
    margin-top: 0.5vw;
    width: 14vw;
  }
  
  .fauteButtonMargin0 {
    margin: 0.5vw 0 0 0 !important;
  }
  .fauteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vw;
  }
  
  .fauteButton {
    height: 6vw;
    width: 6vw;
    margin: 1vw 1vw 0 0;
  }
  .margin-right-0 {
    margin: 1vw 0 0 0 !important;
  }
  .macroButton {
    height: 8vw;
    width: 8vw;
    margin: 0.5vw 0.5vw 0 0;
  }
  .macroButtonMargin0 {
    margin: 0.5vw 0 0 0 !important;
  }

  .timerButton {
    height: 7vw;
    width: 7vw;
    margin: 1vw 1vw 0 0;
  }

  .teamContainer {
    width: 100%;
  }

  .teamScore {
    height: 30vw;
    width: 30vw;
  }
  .icôneButton {
    height: 6.5vw;
    width: 6.5vw;
  }

  .firstScoreButton {
    margin: 1vw 1vw 0 0;
  }

  .secondScoreButton {
    margin: 1vw 0 0 0;
  }

  .timerContainer {
    margin-top: 0vw;
  }

  .paperTimer {
    height: 15vw;
    margin-top: 5vw;
    width: 24vw;
  }

  .BuzzerButton {
    width: 20vw;
    height: 12vw;
  }

  .PaperBuzzer {
    margin-top: 5vw;
  }
}

/* Styles responsifs pour tablette */
@media (min-width: 601px) and (max-width: 920px) {
  .paperTimer {
    height: 14vw;
    width: 20vw;
  }
  .teamContainer {
    width: 100%;
  }

  .margin-right-0 {
    margin: 1vw 0 0 0 !important;
  }

  .timerButton {
    height: 6vw;
    width: 6vw;
    margin: 1vw 1vw 0 0;
  }

  .teamScore {
    height: 30vw;
    width: 30vw;
  }

  .scoreIcôneButton {
    height: 6.5vw;
    width: 6.5vw;
  }

  .firstScoreButton {
    margin: 1vw 1vw 0 0;
  }

  .secondScoreButton {
    margin: 1vw 0 0 0;
  }

  .timerContainer {
    margin-top: 1vw;
  }

  .BuzzerButton {
    width: 20vw;
    height: 12vw;
  }

  .PaperBuzzer {
    margin-top: 4vw;
  }
}
